//Es un framework CSS que permite un desarrollo ágil, basado en clases de utilidad que se pueden aplicar con facilidad en el código HTML y unos flujos de
//desarrollo que permiten optimizar mucho el peso del código CSS.

Otro de mis ejemplos, cree un login con tailwind.css.

Ejemplo: https://velcifer.github.io/login-tailwindcss/
